[Unit]
Description=Server Density Agent
Requires=docker.service
After=docker.service

[Service]
Restart=always
EnvironmentFile=/etc/os-release
ExecStartPre=-/usr/bin/docker stop sd-agent
ExecStartPre=-/usr/bin/docker rm -f sd-agent
ExecStartPre=/usr/bin/docker pull serverdensity/sd-agent
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill sd-agent
ExecStartPre=-/usr/bin/docker rm sd-agent
ExecStart= /bin/bash -c "docker run --name sd-agent \
    -h %H \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -v /proc/mounts:/host/proc/mounts:ro \
    -v /sys/fs/cgroup/:/host/sys/fs/cgroup:ro \
    -e AGENT_KEY=`etcdctl get /serverdensity/agent_key/%H` \
    -e ACCOUNT=`etcdctl get /serverdensity/ACCOUNT` \
    -e SD_HOSTNAME=%H \
    serverdensity/sd-agent"
ExecStop=/usr/bin/docker stop sd-agent

[X-Fleet]
Global=true
